<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Collar.js DEMO: Encoding and Decoding Service</title>
  <meta name="description" content="Collar.js Demo">
  <meta name="author" content="Bo HOU <daily.bhou@gmail.com>">

  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <link rel="stylesheet" type="text/css" href="css/crumina-fonts.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/grid.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <!--Plugins styles-->
  <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="css/primary-menu.css">
  <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css?v=1.0">

  <!--External fonts-->
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

</head>

<body class=" ">

<% include ./components/header %>

<div class="content-wrapper">
  <!-- Page 404 content  -->
      
  <div class="container-fluid">
    <div class="row">
      <div class="content-page-404">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
              <h4 class="title">404</h4>
              <div class="subtitle">Sorry! The Page Not Found ;(</div>
              <p class="text">The Link You Folowed Probably Broken, or the page has been removed.</p>
              <a href="/index" class="btn btn-small btn--primary btn-hover-shadow">
                <span class="text">Return to Home</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
  <!-- End Page 404 content  -->
</div>

<% include ./components/footer %>


</body>
</html>


