<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Collar.js DEMO: Encoding and Decoding Service</title>
  <meta name="description" content="Collar.js Demo">
  <meta name="author" content="Bo HOU <daily.bhou@gmail.com>">

  <link rel="stylesheet" type="text/css" href="css/fonts.css">
  <link rel="stylesheet" type="text/css" href="css/crumina-fonts.css">
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/grid.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <!--Plugins styles-->
  <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" type="text/css" href="css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="css/primary-menu.css">
  <link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
  <link rel="stylesheet" type="text/css" href="css/styles.css?v=1.0">

  <!--External fonts-->
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

</head>

<body class=" ">

<% include ./components/header %>

<% include ./components/right_menu %>

<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="pricing-tables medium-padding120 bg-border-color">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
              <div class="heading align-center">
                <h4 class="h1 heading-title">Our Pricing Packages</h4>
                <div class="heading-line">
                  <span class="short-line"></span>
                  <span class="long-line"></span>
                </div>
                <p class="heading-text">
We provide flexible pricing packages to adapt to your business needs
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="pricing-tables-wrap">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                <div class="pricing-tables-item">
                  <div class="pricing-tables-icon">
                    <img src="img/pricing1.png" alt="personal">
                  </div>
                  <a href="#" class="pricing-title">Trial</a>
                  <ul class="pricing-tables-position">
                    <li class="position-item">
                      <span class="count">5</span>
                      web requests per day
                    </li>
                    <li class="position-item">
                      <span class="count">5</span>
                      api requests per day
                    </li>
                    <li class="position-item">
                      <span class="count"> </span>
                      &nbsp;exceed request is blocked
                    </li>
                  </ul>
                  <h4 class="rate">Free</h4>
                  <a href="20_checkout.html" class="btn btn-medium btn--dark">
                    <span class="text">Order Now!</span>
                    <span class="semicircle"></span>
                  </a>
                  <img src="img/pricing-dots.png" class="dots" alt="dots">
                </div>

              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="pricing-tables-item">
                  <div class="pricing-tables-icon">
                    <img src="img/pricing2.png" alt="personal">
                  </div>
                  <a href="#" class="pricing-title">Business</a>
                  <ul class="pricing-tables-position">
                    <li class="position-item">
                      <span class="count">1000</span>
                      web requests per day
                    </li>
                    <li class="position-item">
                      <span class="count">1000</span>
                      api requests per day
                    </li>
                    <li class="position-item">
                      <span class="count">$0.02</span>
                      per exceed request
                    </li>
                  </ul>
                  <h4 class="rate">$9.99 / month</h4>
                  <a href="20_checkout.html" class="btn btn-medium btn--dark">
                    <span class="text">Order Now!</span>
                    <span class="semicircle"></span>
                  </a>

                  <img src="img/pricing-dots.png" class="dots" alt="dots">
                </div>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="pricing-tables-item">
                  <div class="pricing-tables-icon">
                    <img src="img/pricing3.png" alt="personal">
                  </div>
                  <a href="#" class="pricing-title">Enterprise</a>
                  <ul class="pricing-tables-position">
                    <li class="position-item">
                      <span class="count">10000</span>
                      web requests per day
                    </li>
                    <li class="position-item">
                      <span class="count">10000</span>
                      api requests per day
                    </li>
                    <li class="position-item">
                      <span class="count">$0.01</span>
                      per exceed request
                    </li>
                  </ul>
                  <h4 class="rate">$19.99</h4>
                  <a href="20_checkout.html" class="btn btn-medium btn--dark">
                    <span class="text">Order Now!</span>
                    <span class="semicircle"></span>
                  </a>

                  <img src="img/pricing-dots.png" class="dots" alt="dots">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% include ./components/footer %>

<!-- JS Script -->
<% include ./components/scripts %>
<!-- ...end JS Script -->

</body>
</html>


